	<div class="row">

			{% for post in posts.getData() %}
				<div class="col s8 offset-s2">
					{% include "post/_postCard.html.twig" with {'post':post,'type':'myLike'} %}
				</div>
			{% endfor %}
				<div class="col s8 offset-s2 center">
			{% include "profile/_pagination.html.twig" with {'page':page,'pages':pages} %}
</div>

		</div>