
<style>
.wait{
    height:100vh;
    display:flex;
    justify-content:center;
}
 .card {
  border: solid 1px #f2f2f2;
  margin: 5px;
  border-radius:2px;
      box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
background-color: #546e7a !important;
transition: box-shadow .25s, -webkit-box-shadow .25s;
}
.card .card-content {
  padding: 24px;
border-radius: 0 0 2px 2px;
}
.card .card-content .card-title{
  text-align:center;
  font-size: 24px;
font-weight: 300;
}

</style>
<div class="wait">
 <div class="row ">
    <div class="col s12 m6">
      <div class="card ">
        <div class="card-content">
          <span class="card-title"> CHECK YOUR EMAIL TO ACTIVATE YOUR ACCOUNT!</span>
          <p> You have successfully created your account! To begin using this site you will need to activate your account via the email we have just sent to your address..</p>
        </div>
       
      </div>
    </div>
  </div>
  </div>