.user-img{
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  }
.post-body{
  display: flex;
  justify-content: center;
  align-items: center;
}

.postAdd{
  position: fixed;
  top: 80vh;
  right: 2rem;
}
.tag{
  color:#fff !important;
}
.image_ahmad{
  height: 10rem;
  width: 10rem;
}