.card-title {
    padding-top: 1rem;
}
.likeBtn {
   background-color:transparent;
   border-style: none;
   

}
.flexbox {
    display: flex;
   
    justify-content: center;
    align-items: center;
}
.container,nav{

width:100%;
padding-left:300px ;
}
nav{
padding-left:300px;
}