 
    <li class="collection-item avatar userImages">
      <img src="/images/ah.jpg" alt="" class="circle">
      <span class="title">{{follower.fullname}} </span>
       <p>  <a href="{{path('post_user',{'id':follower.id})}}"> {{follower.username}} </a></p>
    
    
    </li>
  
