 
    <li class="collection-item avatar">
      <img src="/images/ah.jpg" alt="" class="circle">
       <a href="{{path('post_user',{'id':follower.id})}}">   <p>{{follower.username}}  </p> </a>
    
    
    </li>
  
