  <li class="collection-item avatar">
      <img src="/images/ah.jpg" alt="" class="circle">
      {# <span class="title">Title</span> #}
     <a href="{{path('my_profile',{'id':following.id})}}"> <p>{{following.username}} </p> </a>
    </li>
  
