{% extends 'base.html.twig' %}

{% block title %}Hello Post!
{% endblock %}
{% block stylesheets %}

	{{parent()}}
	<link rel="stylesheet" href="/css/post/postCard.css">
	<link rel="stylesheet" href="/css/component/spinner.css">
	<style>
		.card-title {
			padding-top: 1rem;
		}
		.right {
			text-align: right;
		}
		i {
			z-index: -10;
		}
		.collapsible-header i {
			z-index: 1;
		}
	</style>
{% endblock %}
{% block body %}

	<div class="row" id="comments">
		<div class="col s12 m8 l8 offset-m2 offset-l2">
			{% include "post/_postCard.html.twig" with {'post':post} %}
		</div>
		{% if comments|length>0 %}
			{% for comment in comments %}
			  {% include "comment/_commentCard.html.twig" with {'comment':comment,'post':post} %}
			{% endfor %}
		{% endif %}

	</div>
    <div class="row">
	  <div class="col s8 offset-s2">
		    <a id="more" class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>{{'Show More'|trans}}</a>
		</div>
	</div>

{% endblock %}
{% block javascripts %}
	{{parent()}}
	<script>
		document.addEventListener('DOMContentLoaded', function () {
var elems = document.querySelectorAll('.collapsible');
var instances = M.Collapsible.init(elems, {});


let replies = document.querySelectorAll('.reply');
let replyText = document.getElementById('comment_reply_content');

replies.forEach((el) => {
el.addEventListener('click', (e) => {
let target = el
console.log(target)
replyText.value = target.dataset.email;
console.log(target.dataset.email)
});
})



////////////////////////////////////More

  let more=document.getElementById('more');
  let comments=document.getElementById('comments');
  let pageId=2;
  const preUrl=(page)=>{
   let urlPagePost="{{path('comments_post',{id:post.id,'page':'pageId'}) }}";

    return urlPagePost.replace('pageId',page)
  }
    
	  
			let fetchComments=(url)=>{
			
                 return  axios.get(url).then((response) => {
				    if(!response.data){
						more.classList.add('hide');
						return;
					}
			     return response.data;

				}).catch((err) => {
				console.log(err);
				})
		}
  more.addEventListener('click',async()=>{
	 
     let urlPagePost=preUrl(pageId);

     let data=await fetchComments(urlPagePost);
	         var script = document.createElement("script");
             script.src = "/initM/initModal.js";
           
	 let div=document.createElement('div');
	 div.innerHTML=data;
	  div.appendChild(script);
   comments.append(div);
    
  
   pageId++;
  })
});




	</script>
{% endblock %}
