
{% set filters = {
	id:app.request.get('id'),
	title:app.request.query.get('title'),
	category: app.request.query.get('category') ,
	user: app.request.query.get('user'), 
    startDate: app.request.query.get('startDate'), 
    endDate: app.request.query.get('endtDate'), 
} %}
<ul class="pagination">
	<li class="{% if page==1 %} disabled {% else %}  {% endif %} ">
		<a href="{{path(route,{ 'id':filters.id , 'page':page - 1,title:filters.title,category:filters.category,user:filters.user,startDate:filters.startDate,endDate:filters.endDate  })}}">
			<i class="material-icons">chevron_left</i>
		</a>
	</li>


     {% for i in 1..pages %}
        <li class="{% if page==i %}active {% else %} waves-effect {% endif %} {% if i > 2 and page != i and i != page-1 and i != pages and i != pages-1  %} hide {% endif %} ">
            <a href="{{path(route,{'id':filters.id ,'page':i,title:filters.title,category:filters.category,user:filters.user,startDate:filters.startDate,endDate:filters.endDate  })}}">
						{% if i!=page  and i == pages-1 %}... 
						 {% else %}
							  {{i}} 
						{% endif %}
						
						
			</a>
        </li>
       {% endfor %}
	
	
	<li class=" {% if page==pages %} disabled {% else %}  {% endif %} "  >
		<a  href="{{path(route,{'id':filters.id , 'page':page + 1,title:filters.title,category:filters.category,user:filters.user,startDate:filters.startDate,endDate:filters.endDate  })}}">
			<i class="material-icons">chevron_right</i>
		</a>
	</li>
</ul>