
{% set filters = {
	id:app.request.get('id'),
	identity:app.request.query.get('identity'),
	country: app.request.query.get('country') ,
	phone: app.request.query.get('phone'), 
    maxPosts: app.request.query.get('maxPosts'), 
    maxLikes: app.request.query.get('endtDate'), 
} %}
<ul class="pagination">
	<li class="{% if page==1 %} disabled {% else %}  {% endif %} ">
		<a href="{{path(route,{ 'id':filters.id , 'page':page - 1,identity:filters.identity,country:filters.country,phone:filters.phone,maxPosts:filters.maxPosts,maxLikes:filters.maxLikes  })}}">
			<i class="material-icons">chevron_left</i>
		</a>
	</li>


     {% for i in 1..pages %}
        <li class="{% if page==i %}active {% else %} waves-effect {% endif %} {% if i > 2 and page != i and i != page-1 and i != pages and i != pages-1  %} hide {% endif %} ">
            <a href="{{path(route,{'id':filters.id ,'page':i,identity:filters.identity,country:filters.country,phone:filters.phone,maxPosts:filters.maxPosts,maxLikes:filters.maxLikes  })}}">
						{% if i!=page  and i == pages-1 %}... 
						 {% else %}
							  {{i}} 
						{% endif %}
						
						
			</a>
        </li>
       {% endfor %}
	
	
	<li class=" {% if page==pages %} disabled {% else %}  {% endif %} "  >
		<a  href="{{path(route,{'id':filters.id , 'page':page + 1,identity:filters.identity,country:filters.country,phone:filters.phone,maxPosts:filters.maxPosts,maxLikes:filters.maxLikes  })}}">
			<i class="material-icons">chevron_right</i>
		</a>
	</li>
</ul>